<div class="p-component p-grid p-nogutter">
  <div class="p-col-12">
    <app-navbar></app-navbar>
<!--    <p-sidebar [(visible)]="showSideBar" [baseZIndex]="10000">-->
<!--      <h1 style="font-weight:normal">Left Sidebar</h1>-->
<!--      <p-button type="button" (click)="showSideBar = false" label="Save" styleClass="p-button-success"></p-button>-->
<!--      <p-button type="button" (click)="showSideBar = false" label="Cancel" styleClass="p-button-secondary"></p-button>-->
<!--    </p-sidebar>-->
  </div>
  <div class="p-col-12">
    <router-outlet></router-outlet>
  </div>
  <div class="p-col-12">
    <app-footer></app-footer>
  </div>
  <p-toast position="bottom-center"></p-toast>
</div>
