<div class="p-col-12 bg-primary-color">
  <div class="p-sm-12 p-md-offset-4 p-md-4 p-py-3">
    <div class="quote p-text-left">“</div>
    <p class="p-text-center p-m-0 container-frase secondary-color animate__animated animate__fadeInUp">
      El mejor momento para plantar un árbol era hace 20 años. El segundo mejor momento es AHORA.
    </p>
    <div class="quote p-text-right">”</div>
  </div>
</div>
<div class="container-wrapper">
  <div class="bg-wave p-grid p-nogutter container">
    <div class="p-col-12 p-pt-2 p-pt-md-5 p-mb-6 m-top">
      <form [formGroup]="form" (ngSubmit)="filter()" class="p-d-flex p-flex-column p-jc-between p-flex-md-row">
        <div class="p-field p-order-1 p-order-md-0  p-col-12 p-md-2 sm-nogutter">
          <p-dropdown formControlName="order"
                      styleClass="custom-select"
                      [options]="filterOptions"
                      optionLabel="label"
                      (onChange)="sort()"
                      dataKey="value"></p-dropdown>
        </div>
        <div class="p-field p-px-0 p-mx-0 p-text-right p-order-0 p-order-md-0 p-col-12 p-md-3">
          <div class="p-inputgroup p-shadow-1">
            <input formControlName="filter" pInputText type="text" placeholder="Buscar...">
            <button type="submit" pButton pRipple icon="pi pi-search" class="custom-primary-button"></button>
          </div>
        </div>
      </form>
    </div>
    <div class="p-col-12">
      <cdk-virtual-scroll-viewport *ngIf="(this.books$ | async)?.length > 0 ; else notFound"
                                   class="viewport"
                                   itemSize="90">
        <div class="p-grid">
          <div *cdkVirtualFor="let book of (this.books$ | async)"
               class="p-col-6 p-md-5 p-xl-2 sm-nogutter animate__animated animate__fadeIn"
               style="animation-delay: 200ms;">
            <div class="p-card p-card-shadow p-m-3 pointer p-grid home-card " (click)="goToBook(book.id)">
              <div class="p-col-12 p-md-12 p-p-sm-0">
                <span *ngIf="book.isNew" class="badged-new">Nuevo</span>
                <img alt="Card" [src]="book.img" class="card-img">
              </div>
              <div class="p-p-4 p-col-12 p-md-12 home-card-body p-d-flex p-flex-column">
                <h3 class="p-my-1 secondary-color p-text-bold">
                  {{book.title | titlecase}}
                </h3>
                <div class="p-card-subtitle subtitle-size">
                  {{book.author | titlecase}}
                </div>

                <p class="p-text-justify p-my-0">
                  {{book.synopsis | longString:100}}
                </p>
              </div>
            </div>
          </div>

        </div>
      </cdk-virtual-scroll-viewport>
      <ng-template #notFound>
        <app-not-found>No se encontró ningún título, intenta con otro título...</app-not-found>
      </ng-template>
    </div>
  </div>

</div>
