<div class="bg-wave p-grid p-nogutter container">
  <div class="p-col-12 p-pt-5">
    <form class="p-formgroup-inline p-jc-between">
      <div class="p-field">
        <p-dropdown styleClass="custom-select" [options]="filterOptions" optionLabel="label"
                    dataKey="value"></p-dropdown>
      </div>
      <div class="p-field  p-px-0 p-mx-0 p-text-right">
        <input pInputText type="text" placeholder="Buscar...">
      </div>
    </form>
  </div>
  <div class="p-col-12 m-top">
    <cdk-virtual-scroll-viewport class="viewport" itemSize="90">
      <div class="p-grid p-grid">
        <div *cdkVirtualFor="let book of (this.books$ | async)"
             class="p-sm-12 p-md-4 p-xl-3 animate__animated animate__fadeIn"
             style="animation-delay: 200ms">
          <p-card
            styleClass="p-card-shadow p-m-3 pointer"
            (click)="goToBook(book.id)"
          >
            <p-header>
              <span *ngIf="book.isNew" class="badged-new">Nuevo</span>
              <img alt="Card" [src]="book.img" class="card-img">
            </p-header>
            <h3 class="p-my-1 p-text-light p-text-truncate">
              {{book.title | titlecase}}
            </h3>
            <p class="w-100">
              {{book.synopsis | longString}}
            </p>
            <p>
              ❤ {{book.likes | number}}
            </p>
          </p-card>
        </div>

      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
