<form (ngSubmit)="save()" [formGroup]="form">
  <div
    class="container-wrapper container p-component p-grid p-nogutter p-flex-md-column p-align-center p-mb-sm-6 p-mb-lg-0">
    <div class="p-col-12 p-md-6">
      <h2 class="title p-align-center">{{this.formTitle}}</h2>
    </div>
    <div class="p-col-12 p-md-6">
      <div class="p-fluid secondary-color">
        <div class="p-field">
          <label for="titulo">Título</label>
          <input id="titulo" formControlName="title" type="text" pInputText
                 [ngClass]="{'p-invalid': this.title.invalid && this.title.touched}" class="p-invalid">
          <small *ngIf="this.title.invalid && this.title.touched" class="p-invalid">Ingresa el título del libro</small>
        </div>
        <div class="p-field">
          <label for="author">Autor</label>
          <input id="author" formControlName="author" type="text" pInputText>
        </div>
        <div class="p-field">
          <label for="synopsis">Sinopsis</label>
          <textarea id="synopsis" formControlName="synopsis" rows="10" type="text" pInputText
                    [ngClass]="{'p-invalid': this.synopsis.invalid && this.synopsis.touched}"></textarea>
          <small *ngIf="this.synopsis.invalid && this.synopsis.touched" class="p-invalid">Es necesario una breve
            synopsis del libro</small>
        </div>
        <div class="p-field">
          <label>Idioma</label>
          <p-selectButton [options]="languages" formControlName="lang"></p-selectButton>
        </div>
        <div class="p-field">
          <p-fileUpload
            name="img"
            (onSelect)="onUpload($event)"
            (onRemove)="removeFile()"
            accept="image/*"
            maxFileSize="1000000"
            [chooseLabel]="'Cargar imagen'"
            [cancelLabel]="'Remover imagen'"
            [chooseIcon]="'pi pi-upload'"
            [showUploadButton]="false"
            #files
          >
            <ng-template pTemplate="content">
              <div *ngIf="book$ | async as book" class="p-flex-row" >
                <hr style="margin-left: -1rem; margin-right: -1rem; border-color: #FFA45C; border-style: solid;" class="primary-color">
                <h3 class="p-component p-text-bold p-my-2">Portada actual.</h3>
                <img class="tumb-cover" src="{{book.img}}">
              </div>
            </ng-template>
          </p-fileUpload>
          <small *ngIf="this.hasSelectedImage() && this.form.touched" class="p-invalid">No haz cargado ninguna imagen.</small>
        </div>
      </div>
    </div>
    <div class="p-col-12 p-md-6 p-my-6">
      <div class="p-grid">
        <div class="p-col-6">
          <p-button (click)="goBack()" label="Volver al listado" styleClass="p-button-link secondary-color"></p-button>
        </div>
        <div class="p-col-6" style="text-align: right">
          <button pButton pRipple type="submit" label="Guardar" class="p-button-raised custom-primary-button"></button>
        </div>
      </div>
    </div>
  </div>
</form>


