<div class="bg-primary-color container p-d-flex p-flex-row p-jc-between p-py-md-3 p-py-1 p-ai-center">
  <div>
    <a routerLink="/"
       class="p-py-3 p-px-2 app-title"
    >Biblioteca Swisher</a>
  </div>
  <div>
    <p-menu
      #menu
      [popup]="true"
      [model]="options"
      appendTo="body"
    ></p-menu>

    <div class="p-d-flex p-ai-center animate__animated animate__fadeIn"
         *ngIf="(authUser$ | async) as user; else btnPlaceholder">
      <h5 class="secondary-color user-card-subtitle p-mr-3">{{user.name | titlecase | longString:'12'}}</h5>
      <img class="user-photo"
           style="cursor: pointer;"
           [src]="user.photoURL"
           (click)="menu.toggle($event)"
      >
    </div>

    <ng-template #btnPlaceholder>
      <button (click)="menu.toggle($event)"
              pButton
              pRipple
              type="button"
              icon="pi pi-bars"
              class="p-button-rounded custom-primary-button p-button-outlined p-button-lg"
              style="font-size: 1.5rem;">
      </button>
    </ng-template>
  </div>
</div>
