@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
  background-color: #F4F4F4;
  margin: 0;
}

a {
  color: #5D5D5A !important;
  text-decoration: none;
  background-image: none !important;
}

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #06c;
}

.container {
  padding: 0 10%;
}


.bg-primary-color {
  background-color: #FFA45C !important;
}

.bg-secondary-color {
  background-color: #5D5D5A !important;
}

.primary-color {
  background-color: #FFA45C !important;
}

.secondary-color {
  color: #5D5D5A !important;
}

.custom-primary-button {
  color: #5D5D5A !important;
  background: #FFA45C !important;
  border: 1px solid #FFA45C !important;
}

:root {
  --primary-color: #FFA45C !important;
  --primary-color-highlight: #FFCDAB !important;
  --secondary-color: #5D5D5A !important;
  --text-color: #5D5D5A !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #ffffff;
  background-color: var(--primary-color);
}

.badged-new {
  padding: 0.3rem 0.5rem;
  background-color: var(--primary-color);
  font-size: 0.7rem;
  color: white;
  border-radius: 1.4rem;
  position: absolute;
  margin-top: .6rem;
  margin-left: .6rem;
}

.p-fileupload-buttonbar {
  background-color: transparent !important;
  border: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex;
  justify-content: space-between;

}

.p-fileupload-buttonbar .p-button {
  background-color: white !important;
  color: var(--secondary-color) !important;
  font-size: .7rem !important;
  margin-right: 0 !important;
  border: 1px solid white !important;
}

.p-fileupload-buttonbar .p-button .pi {
  font-size: .7rem !important;
}

.p-fileupload-row div button.p-button {
  background-color: white !important;
  color: var(--secondary-color) !important;
  border: 1px solid white !important;
}

.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem var(--primary-color-highlight);
  border-color: var(--primary-color) !important;
}
.p-inputtext:enabled:hover {
  border-color: var(--primary-color) !important;
}

.p-dropdown:not(.p-disabled):hover {
  border-color: var(--primary-color) !important;
}

.p-dropdown:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem var(--primary-color-highlight);
  border-color: var(--primary-color) !important;
}
